.header--dashboard {
    z-index: 1;
    .profile {
        .profesion--user {
            span {
                margin-left: -1.3em;
            }

            p {
                margin-left: -2.1em;
            }
        }
    }
}