$table-bg-color: #15191E;
$thead-bg-color: #baff29;
$th-color: #ffffff;
$td-color: #ffffff;

table {
  background-color: $table-bg-color;
  width: 100%;
  border-collapse: collapse;
  margin-top: -8.7em;

  thead {
    background-color: $thead-bg-color;
    color: $th-color;

    th {
      padding: 10px;
      text-align: left;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: lighten($table-bg-color, 5%);
      }

      td {
        padding: 10px;
        color: $td-color;
      }
    }
  }
}
