@import '../settings/variables';
@import '../settings/fonts';

.reserve-header {
    display: flex;
    gap: .7em;
    padding: 2em 2em;
    position: fixed;
    width: 100%;

    .input-date {
        background-color: $color-four;
        color: $text-two;
        padding: .7em 1.1em;
        border-radius: 5px;
        font-size: 17px;
        cursor: pointer;
        font-family: 'titleForm';
    }

    .logIn {
        background-color: $color-five;
        border: 2px solid $color-four;
        padding: 1em 1.3em;
        border-radius: 5px;
        font-weight: bold;
        font-family: 'titleForm';
        margin-left: 37em;
    }
}