@font-face {
    font-family: 'text';
    src: url('src/assets/fonts/Nunito-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'titleForm';
    src: url('src/assets/fonts/Ichiji-Two.otf') format('truetype');
}