$color-one: #55F5A3;
$color-two: #F6F4EE;
$color-two-: #707070;
$color-three: #9a9393;
$defaul: #000000;
$second-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$aja: #ff0000;
$hover: #049b4d;

$color-principal: #fff; // Color inicial del encabezado
$color-secundario: #000; // Color al desplazarse
$umbral-de-desplazamiento: 100px; // Cantidad de desplazamiento para activar el cambio