@import '../style/scss/settings/variables';

.cf-encanto {
    display: flex;
    position: relative;
    padding-bottom: 4em;
    margin-top: 2.5em;

    .contact-form {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        border: 3px solid rgba(0, 0, 0, .2);
        // border;
        border-radius: 7%;
        padding: 4em 6em;
        padding-top: 7em;
        // box-shadow: 45px -21px 76px 15px rgba(0,0,0,0.75);
    
    
            .form-group {
            margin-bottom: 20px;
        
            label {
                display: block;
                font-weight: bold;
                color: #9a9393;
                margin-bottom: 5px;
                font-family: $second-font;
            }
        
            input,
            textarea {
                width: 100%;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #707070;
                border-radius: 4px;
                color: #000000;
                background-color: #F6F4EE;
        
                &:focus {
                outline: none;
                box-shadow: 0 0 2px 1px #55F5A3;
                }
            }
            }
        
            button {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #55F5A3;
            color: #F6F4EE;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-family: $second-font;
        
            &:hover {
                background-color: #42DFA7;
            }
        }
    }

    h2 {
        position: absolute;
        // font-family: $second-font;
        margin-left: 17em;
        font-size: 2em;
        margin-top: 1em;

        img {
            width: 23px;
            cursor: pointer;
        }

        strong {
            color: $color-one;
            // border-bottom: 3px solid #000000;
        }
    }
}