@import '../../settings/variables';

.footer {
    background-color: rgba(0, 0, 0, .3);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

        p {
        color: #707070;
        margin: 0;
        font-size: 14px;
        }
    
        ul {
        list-style: none;
        display: flex;
    
        li {
            color: #707070;
            margin-right: 15px;
            font-size: 14px;
            font-family: $second-font;
            cursor: pointer;
            transition: .2s ease-in-out all;
    
            &:hover {
            color: #000000;
            border-bottom: 1px solid #000000;
            }
        }
    }
}