@import '../../settings/variables';


//                 GRID
// .services-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     grid-gap: 10px;
//     margin-left: .5em;
    
//     .img-services {
//         width: 24em;
//         height: auto;
//         object-fit: cover;
//         border-radius: 4px;
//     }

//     .text-services {
//         font-size: 17px;
//         padding-bottom: 2em;
//         // font-family: $second-font;
//     }
// }

// .img-grid {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     padding:  0.3em 3em;
//     gap: 1em;
//     margin-top: 2em;
// }


 //              FLEX


.services-flex{
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    padding:  0.3em 3em;
    gap: 1em;
    margin-top: 2em;
    margin-left: 15em;
    
    .img-flex {
        object-fit: cover;
        width:  8rem;
        height: 8rem;
        margin-left: 10em;
        border-radius: 1.3em;
    }

    .services-description {
        .service-name {
            // text-shadow: 29px -14px 4px #000000;
            font-family: $second-font;
            border-bottom: 2px solid #465 #f52;
            // width: 16em;
        }
    }
}

// $primary-color: #55F5A3;
// $secondary-color: #F6F4EE;
// $text-color: #000000;

// .servicio {
//     background-color: $primary-color;
//     border-radius: 10px;
//     padding: 20px;
//     margin: 20px;
//     text-align: center;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     transition: transform 0.3s ease;

//     &:hover {
//         transform: translateY(-5px);
//     }

//     h2 {
//         color: $secondary-color;
//         margin-bottom: 10px;
//     }

//     p {
//         margin-bottom: 20px;
//     }

//     button {
//         background-color: $secondary-color;
//         color: $text-color;
//         border: none;
//         padding: 10px 20px;
//         border-radius: 5px;
//         cursor: pointer;
//         transition: background-color 0.3s;

//         &:hover {
//             background-color: darken($secondary-color, 10%);
//         }
//     }
// }

// #container {
//     display: flex;
//     gap: 3em;
//     place-items: center;
//     margin-inline: 1.5rem;
//     padding-block: 5rem;
//     margin-top: 81em;
//     position: absolute;
//     padding-bottom: 2em;
//     /* margin-left: 4em; */
// }

.card__container {
    display: flex;
    gap: 2rem;
    margin-left: 5em;
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 318px;
    border-radius: 1.5rem;}

.card__data {
    width: 280px;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

#container .card__container .card__article #card_3 {
    transform: rotate(180deg);
}

#container .card__container .card__article #card_2 {
    margin-top: 2.7em;
}

.card__data a {
    font-size: 12px;
    color: #000;
    font-weight: lighter;
    font-family: #000000;
}

.card__description {
    display: block;
    margin-bottom: .25rem;
}

.card__title {
    font-weight: 500;
    // color: var(--title-color);
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-weight: 500;
}

.card__button:hover {
    text-decoration: underline;
}

  /* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

  /* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}