@import '../../settings/variables';


//                 GRID
// .services-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//     grid-gap: 10px;
//     margin-left: .5em;
    
//     .img-services {
//         width: 24em;
//         height: auto;
//         object-fit: cover;
//         border-radius: 4px;
//     }

//     .text-services {
//         font-size: 17px;
//         padding-bottom: 2em;
//         // font-family: $second-font;
//     }
// }

// .img-grid {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     padding:  0.3em 3em;
//     gap: 1em;
//     margin-top: 2em;
// }


//                FLEX


.services-flex{
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    padding:  0.3em 3em;
    gap: 1em;
    margin-top: 2em;
    margin-left: 15em;
    
    .img-flex {
        object-fit: cover;
        width:  8rem;
        height: 8rem;
        margin-left: 10em;
        border-radius: 1.3em;
    }

    .services-description {
        .service-name {
            text-shadow: 29px -14px 4px #000000;
            font-family: $second-font;
            border-bottom: 2px solid #465 #f52;
            // width: 16em;
        }
    }
}