@import '../../settings/variables';

section {
    .services-banner {
        display: flex;
        gap: 2em;
        padding-left: 2.4em;
        margin-top: 1.3em;
        padding-bottom: 3em;


        .services-content {
            background-color: $color-two;
            transition: 1s ease-out all;
            padding: 3em 4em 3em 4em;
            border-radius: 7px;

            img {
                margin-left: 6em;
            }

            &:hover {
                background-color: $color-two-;
            }
        }
    }

    .services-banner2 {
        display: flex;
        gap: 2em;
        padding-left: 2.4em;
        margin-top: 1.3em;
        padding-bottom: 3em;
        margin-left: 1.5em;


        .services-content {
            background-color: $color-two;
            transition: 1s ease-out all;
            padding: 3em 4em 3em 4em;
            border-radius: 7px;

            img {
                margin-left: 6em;
            }

            .services-image {
                margin-left: 3em;
            }

            .visit-image {
                position: relative;
                margin-left: 8em;
            }

            &:hover {
                background-color: $color-two-;
            }
        }
    }
}

//            RESPONSIVE MOVIL
@media screen and (max-width:480px) {
    section {
        .servicies-title {
            position: absolute;
            margin-top: 28em;
            font-size: 1.3em;
            margin-left: 18px;
        }

        .services-banner {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 41em;

            .services-content {
                width: 15em;
                

                img {
                    width: 32px;
                }

                h4 {
                    font-size: 12px;
                }
            }
        }

        .services-banner2 {
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 78em;
            margin-left: .2em;

            .services-content {
                width: 15em;
                

                img {
                    width: 32px;
                }

                h4 {
                    font-size: 12px;
                }
            }
        }
    }
}