@import '../settings/variables';

#services {
    padding: 3.5em 0em;
    display: flex;
    gap: 6em;
    // width: 80%;
    justify-content: center;
    align-content: center;

    .services-content {
        margin-left: 1em;
        
        img {
            background-color: $color-five;
            justify-content: center;
            border-radius: 11px;
            padding: .4em 1em;
            margin-left: 1.3em;
        }

        p {
            width: 20em;
            padding-top: 11px;
        }
    }
}