@import '../settings/variables';

.some-places {
    margin-top: 4em;

    .banner-img {
        margin-top: 3em;
        display: flex;
        gap: 3em;
        padding: 4em 3.3em;
        justify-content: center;
    
        img {
            width: 7em;
            height: 7em;
            object-fit: cover;
            border-radius: 11px;
            margin-top: 1em;
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }
    }

    hr {
        position: absolute;
        width: 7em;
        margin: 3em 36.9em;
        border-bottom: 1px solid $color-five;
    }
}